---
rubygems:
  - train
  - train-core

slack:
  notify_channel: train-notify

github:
  version_tag_format: "v{{version}}"
  minor_bump_labels:
    - "Version: Bump Minor"
  release_branch:
    - 1-stable:
        version_constraint: 1.*
    - master:
        version_constraint: 2.*

merge_actions:
  - built_in:bump_version:
      ignore_labels:
        - "Version: Skip Bump"
        - "Expeditor: Skip All"
  - bash:.expeditor/update_version.sh:
      only_if:
        - built_in:bump_version
  - built_in:update_changelog:
      ignore_labels:
        - "Changelog: Skip Update"
        - "Expeditor: Skip All"
  - built_in:build_gem:
      only_if:
        - built_in:bump_version

promote:
  actions:
    - built_in:rollover_changelog
    - built_in:publish_rubygems
